/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /* Colors */
  --color-slate-blue: hsl(218, 44%, 22%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);

  /* Typography */
  --font-family: 'Outfit', sans-serif;
  --font-size-small: 0.6875rem;  /* 11px */
  --font-size-body: 0.9375rem;   /* 15px */
  --font-size-title: 1.375rem;   /* 22px */

  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Other */
  --border-radius: 15px;
  --box-shadow: 0 10px 20px hsla(220, 15%, 55%, 0.2);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--font-family);
  background-color: var(--color-light-gray);
}

.card {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 1rem;
  text-align: center;
  max-width: 320px;
  margin: 1rem;
}

.card img {
  border-radius: calc(var(--border-radius) - 5px);
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.card h1 {
  color: var(--color-slate-blue);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title);
  margin-bottom: 1rem;
}

.card p {
  color: var(--color-grayish-blue);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  margin-bottom: 1.5rem;
}

.attribution {
  font-size: var(--font-size-small);
  text-align: center;
  padding: 1rem;
  color: var(--color-grayish-blue);
}

.attribution a {
  color: var(--color-slate-blue);
}